* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: lightblue;
  color: #3a301b;
  margin-bottom: 3rem;
}


#penguin {
  display: flex;
  justify-content: center;
}

#penguin img {
  max-width: 80vw;
  object-fit: cover;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#title {
  text-align: center;
}

#title h1, #title span {
  font-size: 2rem;
  font-weight: bolder;
}


form {
  text-align: center;
}

#error{
  padding: 1rem;
  color: red;
}

#current .list-group-item {
  background-image: linear-gradient(to right, #cf4327, #e5a024);
  color: white;
}

.card {
  margin: 1rem 0.5rem;
}

.card-body {
  background-color: #3a301b;
  color: white;
  border: none;
}
.list-group-item {
  background-image: linear-gradient(to right, #e5a024 ,#f6df56);
  color: #3a301b;
}


.footer {
  position: absolute;
  bottom: 0;
  text-align: end;
  padding: 1rem;
  width: 100%;
  height: 3rem;
  background-color: #f6df56;
  color: #3a301b;
  font-size: 0.75rem;
}

.footer a {
  color: #3a301b;
}

@media only screen and (min-width: 1300px) {
  * {
    font-size: 30px;
  }
}