* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  color: #3a301b;
}

header {
  display: flex;
}

#title {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}

header figure {
  width: 20%;
}

header img {
  width: 100%;
}

#form {
  display: inline-block;
}

#error{
  padding: 1rem;
  color: red;
}

ul {
  list-style-type:none;
  padding-left: 0px;
}

ul li .date {
  display: inline-block;
  width: 9rem;
}